body{
    overflow: hidden;
    background-color: black;
}

.card {
    width: 500px;
    height: 750px;
    background-color: white;
    overflow: hidden;
    user-select: none;
    border-radius: 10px;
}

.card > img {
    pointer-events: none;
    width: 100%;
    height: 85%;
    object-fit: cover;
    transition-duration: 1.5s;
}

.centered {
    height: 1000px;
}

.centered > img {
    height: 20%;
}

#Timeline {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 25px;
    top: 0;
    transform: translate(30%, 30%);
}

#Timeline > .card{
    width: 40vmin;
    height: 50vmin;
}

#Timeline > .centered{
    width: 40vmin;
    height: 63vmin;
    transform: translate(0%, -20%);
}